<!DOCTYPE html>
<html lang="en" ng-app="tasksApp">

<head>
<title>Task List</title>
<link rel='stylesheet' href='/css/style.css' />
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div id="wrap" ng-controller="TaskListController as ctrl">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<a class="brand" href="/"> Task List</a>

				</div>
			</div>
		</div>

		<div class="container">
			<div class='container'>
				<div class="row">
					<div class="pull-right">
						<div class="label label-info">
							Open Tasks <br />
							<h3>{{ctrl.openTasksCount}}</h3>
						</div>
						<div class="label label-info" ng-show="ctrl.tasksCreatedTodayCount>0">
							Created Today <br />
							<h3>{{ctrl.tasksCreatedTodayCount}}</h3>
						</div>
						<div class="label label-success" ng-show="ctrl.tasksDueTodayCount>0">
							Due Today <br />
							<h3>{{ctrl.tasksDueTodayCount}}</h3>
						</div>
						<div class="label label-warning"
							ng-show="ctrl.tasksOverdueCount>0">
							Overdue <br />
							<h3>{{ctrl.tasksOverdueCount}}</h3>
						</div>
					</div>
				</div>
				<div class="row" style="padding-top: 10px;"></div>

				<div class="row" ng-controller="NewTaskController as newTaskCtrl">
					<div>
						<form accept-charset="utf-8"
							class="form-horizontal well well-small">
							<fieldset>
								<h3>Add task</h3>
								<div class="control-group">
									<label class="control-label" for="content">Description</label>

									<div class="controls">
										<div class="input-append">
											<input class="span7" name="content" id="content" type="text"
												placeholder="Enter a new task"
												ng-model="newTaskCtrl.newDescription">
											<button class="btn btn-primary" type="submit"
												ng-click="newTaskCtrl.addTask()">Add new task</button>
										</div>
									</div>

									<label class="control-label" for="content">Due Date</label>

									<div class="controls">
										<div class="input-append">
											<input class="span3" name="content" id="content" type="date"
												placeholder="Enter due date"
												ng-model="newTaskCtrl.newDueDate">
										</div>
									</div>

								</div>
							</fieldset>
						</form>
					</div>
				</div>


				<div class="row">

					<table class="table table-bordered">
						<thead>
							<th width="70%">Task</th>
							<th>Created</th>
							<th>Due</th>
							<th>Actions</th>
						</thead>
						<tr ng-repeat="task in ctrl.tasks">
							<td>{{task.name}}</td>
							<td>{{task.created|date:longDate}}</td>
							<td>{{task.dueDate|date}}</td>
							<td><a href="#" title="Delete this task"
								ng-click="ctrl.deleteTask(task.id)"> <i
									class="icon-remove-circle"></i>
							</a></td>
						</tr>
					</table>
				</div>
			</div>

		</div>

	</div>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	<script type="text/javascript" src="/js/services/TaskListService.js"></script>
	<script type="text/javascript"
		src="/js/services/TaskStatisticsService.js"></script>
	<script type="text/javascript"
		src="/js/controllers/TaskListController.js"></script>
	<script type="text/javascript"
		src="/js/controllers/NewTaskController.js"></script>
</body>

</html>